/* Common styles */
body {
    margin: 0px;
    font-family: "Roboto Mono", monospace;
}

/* font and paragraph styles */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.justified {
    text-align: justify;
}

.indented {
    text-indent: 3em;
}

h1,h2,h3,h4,h5,h6,.mes,p,li {
    font-family: "Wittgenstein", serif;
}

