@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    
    /* about page */
    .skewed-header {
        width: 100%;
        height: 250px;
    }

    .skewed-header > .header-bg{
        background-size: 200%;
        width: 100%;
        height: 100%;
    }

    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
        padding: 0%;
        justify-content: center;
        align-items:flex-start;
        gap: 55px;
        width: 100%;
    }

    .links-wrapper {
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin: 0;
        padding: 0px;
    }

    .links-wrapper >.nav-link a {
        margin: 0;
    }

    .page-container {
        padding: 21px;
    }

    .page-container > .content-wrapper p {
        margin-bottom: 40px;
    }

    .content-wrapper > #aboutpic1 {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
        float: center !important;
    }

    .content-wrapper > #aboutpic2 {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
        float: center !important;
    }

    .content-wrapper > #aboutpic3 {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
        float: center !important;
    }

    .squares-wrapper {
        width: 100%;
        margin-top: -80px;
    }

    .squares-wrapper > .squares > .square {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .squares-wrapper > .squares > .square > .img-wrapper {
        order: 1;
    }

    .squares-wrapper > .squares > .square > .img-wrapper img{
        width: 100%;
    }

    .squares-wrapper > .squares > .square > .square-text-wrapper {
        order: 2;
        padding: 0px;
        margin: 20px 20px 30px 20px;
    }

    .squares-wrapper > .squares > .square > .square-text-wrapper h1{
        margin: 0px 0px 0px 0px;
        text-align: left;
        width: 100%;
    }

    /* merits page */
    .menu-wrapper {
        margin-top: 20px;
    }

    .menu-wrapper > .divider {
        width: 100%;
    }

    .menu-wrapper > .divider-end {
        width: 100%;
    }

    .menu-wrapper > .squares-wrapper {
        margin-top: 0px;
    }

    /* contact page */
    .contact-grid-wrapper {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 0;
        padding: 10px;
        justify-items: center;
    }

    .company-metadata-sidebar-wrapper {
        margin-top: 0px;
        width: 300px;
    }

    .company-metadata-sidebar-wrapper > .logo img {
        margin-bottom: 15px;
    }

    .company-metadata-sidebar-wrapper > .company-details-wrapper {
        padding-inline: 50px;
    }

    .form {
        width: 100%;
        margin: 0;
    }

    .form input{
        padding: 20px 20px;
        margin: 0;
    }

    .form textarea { 
        padding: 20px 20px;
    }
}