/* Square grid styles */
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px;
}

.squares-wrapper > .squares > .square{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
    margin-bottom: -4px;
    background-color: rgb(75, 75, 75);
}

.square > .img-wrapper img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    filter: saturate(25%);
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
    color: white;
}

.square > .square-text-wrapper p{
    text-align: justify;
}
